@import '../../styles/colors.scss';
#LogicalView {
  display: grid;
  grid-template-columns: 50% auto;
  column-gap: 1px;
  height: 100%;

  #StackView {
    .memory-block {
      padding-bottom: 1rem;
    }
    padding: {
      left: 0.5rem;
      right: 0.5rem;
    }
  }

  #StackView
  // , #HeapView
  {
    display: grid;
    grid-template-rows: min-content auto;
    .content {
    }
  }

  .left-content {
    padding-left: 0.5rem;
    border-right: 1px dashed $dash-line-color;
  }
  .right-content {
    padding-right: 0.5rem;
    display: grid;
    grid-template-rows: 50% auto;
  }
  // #HeapView {
  //   .content {
  //     margin-left: -20px;
  //   }
  // }

  .content-view {
    .title {
      color: $text-title-color;
      padding: 10px;
    }
    .content {
      padding: 14px;
    }
  }

  #HeapView {
    .content {
    }
  }

  #HeapView,
  #GlobalStaticView {
    padding-left: 0.5rem;
  }

  #GlobalStaticView {
    .title {
      border-top: 1px dashed $dash-line-color;
    }
  }
}

#MemoryDetail {
  color: $text-color;
  font-weight: 500;
  margin-top: -10px;
  padding: 0px 24px;
  .detail-item {
    display: grid;
    grid-template-columns: 9rem auto;
    border-bottom: 1px dotted $dash-line-color;
    padding: 0.5rem 1rem;
    .item-name {
      text-align: left;
    }
    .item-value {
      font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro,
        monospace;
      padding-top: 0.1rem;
      text-align: right;
    }
  }

  .detail-item.binary-item {
    grid-template-columns: none;
    grid-template-rows: 1.6rem 1rem;
    // grid-template-columns: 4rem auto;
    .item-name {
      text-align: left;
    }
    .binary-code {
      // padding-top: .25rem;
      text-align: right;

      // font-size: 0.9rem;
    }
  }

  .type-value-detail {
    display: grid;
    grid-template-columns: 50% auto;
    .detail-item {
      grid-template-columns: 4rem auto;
      .item-value {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .dashed-border-right {
      border-right: 1px dashed $dash-line-color;
    }
  }
}

#PhysicalView {
  padding-top: 2rem;
  color: $text-color;
}
