@import '../../styles/colors.scss';
#LogicalView {
  display: grid;
  grid-template-columns: 40% 28% auto;
  column-gap: 1px;
  height: 100%;
  #StackView,
  #HeapView {
    display: grid;
    grid-template-rows: min-content auto;
    .content {
      border-right: 1px dashed $dash-line-color;
    }
  }

  #HeapView {
    .content {
      margin-left: -20px;
    }
  }


  .content-view {
    .title {
      color: $text-title-color;
      padding: 10px;
    }
    .content {
      padding: 14px;
    }
  }
}
