.header-btn {
  display: flex;
  position: absolute;
  top: 0.5rem;
  right: 0rem;
  .variable-select {
    margin-right: 1rem;
    margin-top: -0.2rem;
    .variable-select-select1 {
      display: inline-block;
      width: 8rem;
    }
    .variable-select-select2 {
      display: inline-block;
      width: 5rem;
    }
    .variable-select-button {
      margin-left: 5px;
      display: inline-block;
    }
  }

  .header-select {
    margin-right: 1rem;
    margin-top: -0.2rem;
  }
  .control-button {
    svg {
      height: 2rem;
      width: 2rem;
      margin-right: 0.5rem;
      image {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
