$border-line-color: rgb(232, 236, 239);
$dash-line-color: rgb(204, 204, 204);
$app-background-color: rgb(248, 250, 251);
$app-header-color: rgb(62, 130, 247);
$app-header-shadow-color: rgb(188, 188, 188);
$primary-color: rgb(74, 140, 227);
$secondary-color: rgb(91, 91, 91);
$text-title-color: rgb(91, 91, 91);
$text-line-number-color: rgb(119, 140, 162);
$gutter-color: rgb(243, 247, 249);
$active-line-shadow-color: rgb(225, 225, 225);
$timeline-default-color: rgb(230, 230, 230);
$timeline-active-color: rgb(205, 205, 205); 
$legend-color: rgb(139, 139, 139);
$dashed-line-color: rgb(215, 215, 215);
$cell-border-color: rgb(139, 139, 139);
$block-border-color: rgb(215, 215, 215);
$text-color: rgb(139, 139, 139);
$block-default-color: rgb(72, 54, 71);
