#MemoryPanel {

  &.show-detail {
    .detail-area {
      height: 340px;
      opacity: 1;
      transition: 1s;
    }
    .main-area {
      height: calc(100% - 500px);
      transition: 1s;
    }
  }
  &.hide-detail {
    .main-area {
      height: calc(100% - 160px);
      transition: 1s;
    }

    .detail-area {
      height: 0px;
      opacity: 0;
      transition: 1s;
    }
  }

  .subtitle-1 {
    display: grid;
    grid-template-columns: 50% auto;
  }

  .subtitle-area {
    padding: 10px 10px;
  }
}
