@import '../../../styles/colors.scss';

.memory-block {
  display: grid;
  grid-template-columns: 5px auto;

  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro,
    monospace;

  color: $text-color;
  font-size: 0.8rem;

  .highlight-bar {
    background-color: $block-default-color;
    border-radius: 5px 0 0 5px;
    border: 2px solid $block-default-color;
  }

  .main-content {
    display: grid;
    grid-template-rows: 1rem auto;

    border: 2px solid $block-border-color;
    border-radius: 0 5px 5px 0;
    border-left: none;
    .function-name {
      padding-left: 0.5rem;
      text-align: left;
    }

    .cells {
      padding: 8px;
    }
  }
}

.memory-cell {
  display: grid;
  grid-template-columns: 20px auto;

  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro,
    monospace;
  color: $text-color;
  font-size: 0.8rem;

  margin-top: -1px;

  .col-name {
    display: grid;
    align-items: center;
    text-align: end;
    padding-right: 0.25rem;
  }

  .col-value {
    display: grid;
    grid-template-columns: 10px auto;
    border: 2px solid $cell-border-color;

    .col-1 {
      padding-bottom: 0.5rem;
      padding-left: 0.15rem;
      border: none;
    }

    .col-2 {
      padding-top: 0.8rem;
      padding-right: 0.15rem;
      text-align: end;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  cursor: pointer;

  &.active {
    .col-value {
      border: 2px solid black;
    }
    color: black;
  }
  // &:hover {
  //   .col-value {
  //     border: 2px solid black;
  //   }
  //   color: black;
  // }
}
