@import '../../styles/colors.scss';

.control-btn-group {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  column-gap: 1px;
}

.control-button {
  cursor: pointer;
  user-select: none;
  &.disabled {
    pointer-events: none;
    cursor: default;
  }
}

.timeline {
  cursor: pointer;
  fill: $timeline-default-color;

  &.active {
    fill: $timeline-active-color;
  }
}

.timeline-legend {
  fill: $legend-color;
  text-anchor: end;
}
