@import '../../styles/colors.scss';

#TimelinePanel {
  display: grid;
  grid-template-rows: 40px auto;
  row-gap: 1px;
  .main-content {
    display: grid;
    // grid-template-columns: 23% auto 21%;
    grid-template-columns: auto 23%;
    column-gap: 1px;
    .col-1 {
      border-right: 1px solid $border-line-color;
    }
    .col-2 {
      border-right: 1px solid $border-line-color;

      display: grid;
      grid-template-rows: 70% auto;
      row-gap: 1px;

      justify-items: center;
      align-items: center;
    }
  }
}
