#AppHeader {
  display: grid;
  grid-template-columns: 400px auto;
  padding-left: 20px;
  .menu {
    display: grid;
    grid-template-columns: auto 64px 64px;

    align-items: center;
    justify-items: center;

    .menu-item > svg {
      cursor: pointer;
    }
  }
}
